<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Vinery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
        <header class="hero-header">
            <div class="overlay">
                <h1 class="site-title">Vinery</h1>
                <p class="site-subtitle">Discover your next favorite bottle</p>
                <div class="input-box" onclick="sendFocus()">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" alt="Search Icon" />
                    <input placeholder="What type of wine are you looking for?" id="filter-text-val" onkeyup="filterText()">
                </div>
            </div>
        </header>
    
        <div class="full-body-container">
            <div id="answer-box"></div>
        </div>
    

    <script>
        function wineTemplate(name, review, rating, variety, similarity, location) {
            return `<div class="wine-entry">
                        <h3 class="wine-name">${name}</h3>
                        <p class="wine-review">${review}</p>
                        <p class="wine-rating">Rating: ${rating}</p>
                        ${variety ? `<p class="wine-variety">Variety: ${variety}</p>` : ''}
                        ${location ? `<p class="wine-location">Location: ${location}</p>` : ''}
                        ${similarity ? `<p class="wine-similarity">Similarity Score: ${similarity}</p>` : ''}
                    </div>`;
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus();
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = "";
            const query = document.getElementById("filter-text-val").value;
            fetch("/search?" + new URLSearchParams({ query: query }).toString())
                .then(response => response.json())
                .then(data => {
                    data.forEach(row => {
                        const tempDiv = document.createElement("div");
                        tempDiv.innerHTML = wineTemplate(
                            row["Wine Name"],
                            row["Review"],
                            row["Rating"],
                            row["Variety"],
                            row["Similarity"],
                            row["Location"]
                        );
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        }
    </script>
</body>
</html>
